@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
	font-family: 'Ubuntu', sans-serif !importan;
	font-weight: 300 !important;
	background-image: url(../img/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
main {
	width: 100%;
	min-height: 100vh;
}
a {
	text-decoration: none !important;
}

body .nested-button {
    background-image: linear-gradient(to right, #000000 , #ffff ) !important;
    border-radius: 50px;
    font-size: 12px;
    color: violet;
    font-size: 15px;
    font-weight: 600;
    transition: transform 0.3s;
    right: 50px;
    font-family: inherit;
    border: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 390px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 5px 5px 12px #8a8a8a,
    -5px -5px 12px #000000;
}
.nested-button:active {
            transform: scale(0.95); /* Scale down the nested button when clicked */
        }
.profile video {
    width: 100px;
    height: 100px;
    border-radius: 50% 20%;
    object-fit: cover;
    animation: shadowAnimation 2s infinite;
}
.profile h3 {
  font-size: 50px;
  line-height: 50px;
  margin-left: 5px;
  color: white;
  animation: colorChange 5s infinite;
}
.profile h4 {
  color: white;
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: 10;
  margin: 20px 0px 8px 0px;
}
.social-link a {
	font-size: 25px;
}
.button {
  background-color: #010718;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px 60px;
  text-decoration: none;
  display: block;
  width: 80%;
  transition: transform 0.3s;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid transparent;
  animation: rainbow 5s infinite;
  font-family: 'Ubuntu';
}
@keyframes rainbow {
            0% { box-shadow: 0 0 50px 2px red; }
            14% { box-shadow: 0 0 50px 2px orange; }
            28% { box-shadow: 0 0 50px 2px yellow; }
            42% { box-shadow: 0 0 50px 2px green; }
            57% { box-shadow: 0 0 50px 2px blue; }
            71% { box-shadow: 0 0 50px 2px indigo; }
            85% { box-shadow: 0 0 50px 2px violet; }
            100% { box-shadow: 0 0 50px 2px red; }
}
.button img {
            width: 50px; /* Atur ukuran gambar sesuai kebutuhan */
            height: 50px; /* Atur ukuran gambar sesuai kebutuhan */
            margin-right: 10px; /* Jarak antara gambar dan teks */
            border-radius: 10px 25px;
}
.button:active {
            transform: scale(0.95); /* Scale down the button when clicked */
        }
@keyframes colorChange {
            0% { color: red; }
            14% { color: orange; }
            28% { color: yellow; }
            42% { color: green; }
            57% { color: blue; }
            71% { color: indigo; }
            85% { color: violet; }
            100% { color: red; }
        }
@keyframes shadowAnimation {
            0% { box-shadow: 0 0 10px 2px red; }
            25% { box-shadow: 0 0 10px 2px orange; }
            50% { box-shadow: 0 0 10px 2px yellow; }
            75% { box-shadow: 0 0 10px 2px green; }
            100% { box-shadow: 0 0 10px 2px blue; }
        }
/* Animation Text */
.container{
    width: 246px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: violet;
    font-size: 30px;
    font-weight: 600;
    animation: colorChange 5s infinite;
    animation: shadowAnimation 5s infinite;
}
.container .text.first-text{
    color: #FFF;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
/* key animation text */
@keyframes colorChange {
            0% { color: red; }
            25% { color: orange; }
            50% { color: yellow; }
            75% { color: green; }
            100% { color: blue; }
        }
/* shadow text animation*/
@keyframes shadowAnimation {
            0% { text-shadow: 2px 2px 5px red; }
            25% { text-shadow: 2px 2px 5px orange; }
            50% { text-shadow: 2px 2px 5px yellow; }
            75% { text-shadow: 2px 2px 5px green; }
            100% { text-shadow: 2px 2px 5px blue; }
        }
/*text animation index2*/
.containerr{
    width: 246px;
    overflow: hidden;
}
.containerr .text{
    position: relative;
    color: #7B68EE;
    font-size: 30px;
    font-weight: 600;
}
.containerr .text.first-text{
    color: #FFF;
}
.containerr .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 2px solid #7B68EE;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
/*NavBar*/
.navbar {
  right: -20px;
}
.navbar-brand {
  background-color: #000;
  color: #fff;
  border-radius: 50px 80px;
  font-size: 30px;
  font-weight: 600;
  display: block;
  transition: transform 0.3s;
  animation: rainbow 5s infinite;
}
.navbar-brand:active {

            transform: scale(0.95); /* Scale down the button when clicked */

        }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

main {	
	max-width: 420px;
}